

<div class="jumbotron">
    <div class="container">
      <h1 *ngIf="valiadted" [ngClass] = "'success'" >
         Registerd successfully.
      </h1>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h2>REGISTRATION FORM </h2>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit('/sign-in')" style="color: rgb(16, 5, 37);background-color:cadetblue;">
            <div class="form-group">
              <label>Enter the First Name</label>
              <input #firstName type="text" formControlName="firstName" class="form-control"
              [ngClass]="{'is-invalid':submitted && f['firstName'].errors}">
  
              <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                <div *ngIf="f['firstName'].errors['required']">
                  First Name can not be empty
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Enter the Last Name</label>
              <input #lastName type="text" formControlName="lastName" class="form-control"
              [ngClass]="{'is-invalid':submitted && f['lastName'].errors}">
  
              <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                <div *ngIf="f['lastName'].errors['required']">
                  Last Name can not be empty
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Enter the Email-id</label>
              <input #email type="text" formControlName="email" class="form-control"
              [ngClass]="{'is-invalid':submitted && f['email'].errors}">
  
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">
                  Email can not be empty
                </div>
                <div *ngIf="f['email'].errors['email']">
                  Kindly provide Valid Email Id
                </div>
              </div>
            </div>
            <label>Select Gender</label><br>
            <div >
              <input type="radio" value="male" formControlName="gender"> Male <br>
              <input type="radio" value="female" formControlName="gender"
              [ngClass]="{'is-invalid':submitted && f['gender'].errors}"> Female 
            <div *ngIf="submitted && f['gender'].errors" class="invalid-feedback">
              <div *ngIf="f['gender'].errors['required']">
                gender can not be empty
              </div>
           </div>
           </div><br>
            <div class="form-group">
              <label>Enter the Password</label>
              <input #password type="password" formControlName="password" class="form-control"
              [ngClass]="{'is-invalid':submitted && f['password'].errors}">
  
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">
                  Pasword can not be empty
                </div>
                <div *ngIf="f['password'].errors['minlength']">
                  Pasword must be 8 character long
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>